<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.ArticleMapper">

    <sql id="selectArticleList">
        select `art`.`id`, `art`.`title`, `art`.`text`, `art`.`picture_url`, `c`.`recommend`, `c`.`be_liked`
        from `t_article` as `art`
                 inner join `t_count` as `c`
                            on `c`.`id` = `art`.`id`
    </sql>

    <insert id="insertOne">
        insert into `t_article`
            (`id`, `title`, `article_url`, `text`, `picture_url`, `author_id`)
        values
            (#{id}, #{title}, #{articleUrl}, #{text}, #{pictureUrl}, #{authorId});
    </insert>

    <delete id="deleteArticleByIds" parameterType="list">
        delete
        from `t_article`
        <where>
            `id` in
            <foreach collection="ids" item="id" open="(" close=")" separator="," index="index">
                #{id}
            </foreach>
        </where>
    </delete>

    <select id="selectNotExaminedArticleList" resultType="com.poverty.entity.vo.ArticlesVO">
        <include refid="selectArticleList"/>
        where `c`.`is_examined` = -1
        LIMIT #{start},#{end};
    </select>

    <select id="selectIsExaminedArticleList" resultType="com.poverty.entity.vo.ArticlesVO">
        <include refid="selectArticleList"/>
        where `c`.`is_examined` = 1
        LIMIT #{start},#{end};
    </select>

    <select id="selectNoExaminedArticleList" resultType="com.poverty.entity.vo.ArticlesVO">
        <include refid="selectArticleList"/>
        where `c`.`is_examined` = 0
        LIMIT #{start},#{end};
    </select>

    <select id="getArticleById" resultType="com.poverty.entity.vo.ArticleVO">
        select `art`.`id`,
               `art`.`title`,
               `art`.`article_url`,
               `art`.`create_time`,
               `info`.`username`,
               `c`.`recommend`,
               `c`.`be_liked`
        from `t_article` as `art`
                 inner join `t_user_information` as `info`
                            on `art`.`author_id` = `info`.`id`
                 inner join `t_count` as `c`
                            on `c`.`id` = `art`.`id`
        where `art`.`id` = #{id};
    </select>
</mapper>
