<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.BeLikeMapper">

    <insert id="insertOne">
        insert into `t_be_like`(`id`, `user_id`)
        values (#{id}, #{userId});
    </insert>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from `t_be_like`
        where `id` = #{id}
          and `user_id` = #{userId};
    </select>

</mapper>
