<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.BrowsingHistoryMapper">

    <insert id="insertOne" parameterType="com.poverty.entity.po.BrowsingHistory">
        insert into t_browsing_history (user_id,id)values (#{userId},#{id})
    </insert>
    <select id="selectArticleBrowsingHistory" resultType="com.poverty.entity.vo.ArticleBrowsingHistoryVO"
            parameterType="com.poverty.entity.dto.PostId">
        select `art`.`id`,`art`.`title`
        from `t_article` as `art`
            inner join `t_browsing_history` as `bh`
                on `art`.`id`=`bh`.`id`
        where user_id = #{userId}
    </select>
    <select id="selectVideoBrowsingHistory" resultType="com.poverty.entity.vo.VideoBrowsingHistoryVO">
        select `v`.`id`,`v`.`title`
        from `t_video` as `v`
                 inner join `t_browsing_history` as `bh`
                            on `v`.`id`=`bh`.`id`
        where user_id = #{userId}
    </select>

</mapper>
