<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.CarouselMapper">

    <insert id="insertCarousel" parameterType="com.poverty.entity.dto.CarouselDTO">
        insert into t_carousel (id,carousel_url)values (#{id},#{carouselUrl})
    </insert>

    <update id="updateCarousel" parameterType="com.poverty.entity.dto.CarouselDTO">
        update  t_carousel set carousel_url=#{carouselUrl},modify_time=CURRENT_TIMESTAMP()  where  id =#{carouselId}
    </update>

    <delete id="deleteCarousel" parameterType="java.lang.String">
        delete  from t_carousel where id = #{id}
    </delete>

    <select id="selectCarousel" resultType="com.poverty.entity.vo.CarouselVO">
        select * from t_carousel limit #{start},#{end}
    </select>
    <select id="selectUrlById" resultType="java.lang.String">
        select carousel_url from t_carousel where id=#{id}
    </select>

</mapper>
