<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.CollectionMapper">

    <insert id="insertCollection" parameterType="com.poverty.entity.dto.CollectionDTO">
        insert into t_collection (user_id,id)
        values (#{userId},#{id})
    </insert>

    <delete id="deleteCollection" parameterType="com.poverty.entity.dto.CollectionDTO">
        delete from t_collection
        where user_id=#{userId} and id=#{id}
    </delete>
    <select id="selectArticleCollection" resultType="com.poverty.entity.vo.CollectionVO">
        select `art`.`id`,`art`.`title`,`co`.`create_time`
        from `t_article` as `art`
            inner join `t_count` as `c`
                on `c`.`id`=`art`.`id`
            inner join `t_collection` as `co`
                on `art`.`id`=`co`.`id`
        where user_id=#{userId} LIMIT #{start},#{end}
    </select>
    <select id="selectVideoCollection" resultType="com.poverty.entity.vo.CollectionVO">
        select `v`.`id`, `v`.`title`, `co`.`create_time`
        from `t_video` as `v`
            inner join `t_count` as `c`
                on `c`.`id`=`v`.id
            inner join t_collection as `co`
                on `v`.id=`co`.id
        where user_id=#{userId} LIMIT #{start}, #{end}
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="com.poverty.entity.dto.CollectionDTO">
        select count(*) from `t_collection` where user_id=#{userId} and id=#{id}
    </select>

    <select id="countArticleByUserId" resultType="java.lang.Integer">
        select count(`art`.`id`)
        from `t_article` as `art`
                 inner join `t_collection` as `co`
                            on `art`.`id`=`co`.`id`
        where user_id=#{userId}
    </select>
    <select id="countVideoByUserId" resultType="java.lang.Integer">
        select count(`v`.`id`)
        from `t_video` as `v`
                 inner join t_collection as `c`
                            on `v`.id=`c`.id
        where user_id=#{userId}
    </select>

</mapper>
