<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.CountMapper">

    <insert id="insertCount">
        insert into `t_count`
            (id, recommend, is_examined, be_liked)
        values
            (#{id}, #{recommend}, #{isExamined}, #{beLiked});
    </insert>

    <update id="updateIsExaminedById">
        update `t_count`
        set `is_examined` = 1,`modify_time`=CURRENT_TIMESTAMP()
        where `id` = #{id};
    </update>

    <update id="updateNoExaminedById">
        update `t_count`
        set `is_examined` = 0,`modify_time`=CURRENT_TIMESTAMP()
        where `id` = #{id};
    </update>

    <update id="updateRecommendById">
        update `t_count`
        set `recommend` = `recommend` + 1,`modify_time`=CURRENT_TIMESTAMP()
        where `id` = #{id};
    </update>

    <update id="updateBeLikedById">
        update `t_count`
        set `be_liked`=`be_liked` + 1,`modify_time`=CURRENT_TIMESTAMP()
        where `id` = #{id};
    </update>

    <delete id="deleteByIds">
        delete
        from `t_count`
        <where>
            `id` in
            <foreach collection="ids" item="id" open="(" close=")" separator="," index="">
                #{id}
            </foreach>
        </where>
    </delete>

    <select id="countNotExaminedArticle" resultType="java.lang.Integer">
        select count(*)
        from `t_count` as `c`
                 inner join `t_article` as `art`
                            on `art`.`id` = `c`.`id`
        where `is_examined` = -1;
    </select>

    <select id="countIsExaminedArticle" resultType="java.lang.Integer">
        select count(*)
        from `t_count` as `c`
                 inner join `t_article` as `art`
                            on `art`.`id` = `c`.`id`
        where `is_examined` = 1;
    </select>

    <select id="selectArticleIdsByNoExamined" resultType="java.lang.String">
        select `c`.`id`
        from `t_count` as `c`
                 inner join `t_article` as `art`
                            on `c`.`id` = `art`.`id`
        where `is_examined` = 0;
    </select>

    <select id="countNoExaminedArticle" resultType="java.lang.Integer">
        select count(*)
        from `t_count` as `c`
            inner join `t_article` as `art`
                on `art`.`id` = `c`.`id`
        where `is_examined` = 0;
    </select>

    <select id="countNotExaminedVideo" resultType="java.lang.Integer">
        select count(*)
        from `t_count` as `c`
                 inner join `t_video` as `video`
                            on `video`.`id` = `c`.`id`
        where `is_examined` = -1;
    </select>

    <select id="countIsExaminedVideo" resultType="java.lang.Integer">
        select count(*)
        from `t_count` as `c`
                 inner join `t_video` as `video`
                            on `video`.`id` = `c`.`id`
        where `is_examined` = 1;
    </select>

    <select id="countNoExaminedVideo" resultType="java.lang.Integer">
        select count(*)
        from `t_count` as `c`
                 inner join `t_video` as `video`
                            on `video`.`id` = `c`.`id`
        where `is_examined` = 0;
    </select>

    <select id="selectVideoIdByNoExamined" resultType="java.lang.String">
        select `c`.`id`
        from `t_count` as `c`
                 inner join `t_video` as `video`
                            on `c`.`id` = `video`.`id`
        where `is_examined` = 0;
    </select>
</mapper>
