<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.SearchRecordsMapper">

    <insert id="insertOne">
        insert into `t_search_records`
            (user_id, search_content)
        values
            (#{userId}, #{searchContent});
    </insert>
    <update id="updateCreateTime">
        update `t_search_records`
        set create_time=CURRENT_TIMESTAMP
        where user_id=#{userId}
          and search_content=#{searchContent};
    </update>

    <delete id="deleteByUserId">
        delete
        from `t_search_records`
        where `user_id` = #{id};
    </delete>

    <select id="selectSearchRecords" resultType="java.lang.String">
        select search_content
        from `t_search_records`
        where user_id = #{userId}
        order by create_time desc LIMIT 0,10;
    </select>
</mapper>
