<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.SearchRecordsMapper">

    <insert id="insertOne">
        insert into `t_searchRecords`
            (user_id, search_content)
        values
            (#{userId}, #{searchContent});
    </insert>

    <select id="selectSearchRecords" resultType="java.lang.String">
        select search_content
        from `t_search_records`
        where user_id = #{userId}
        order by create_time LIMIT 0,10;
    </select>
</mapper>
