<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.UserInformationMapper">

    <insert id="insertOne">
        insert into `t_user_information`
            (`id`, `username`, `real_name`, `phone`, `email`, `id_card`, `address`,`birthday`)
        values
            (#{id}, #{username}, #{realName}, #{phone}, #{email}, #{idCard}, #{address},#{birthday});
    </insert>
    <update id="updateUserInformation">
        update `t_user_information`
        set
            <if test="username != null and username != ''">
                username=#{username},
            </if>
            <if test="realName != null and realName != ''">
                real_name=#{realName},
            </if>
            <if test="phone != null and phone !=''">
                phone=#{phone},
            </if>
            <if test="email != null and email != ''">
                email=#{email},
            </if>
            <if test="birthday != null and birthday != ''">
                birthday=#{birthday},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card=#{idCard},
            </if>
            <if test="address != null and address != ''">
                address=#{address},
            </if>
            `modify_time`=CURRENT_TIMESTAMP()
        where id = #{id};
    </update>

    <select id="selectUserInformation" resultType="com.poverty.entity.vo.UserInformationVO">
        select `ui`.`id`,
               `ui`.`username`,
               `ui`.`email`,
               `ui`.`birthday`,
               `ui`.`real_name`,
               `ui`.`phone`,
               `ui`.`id_card`,
               `ui`.`address`,
               `user`.`account`
        from `t_user_information` as `ui`
                 inner join `t_user` as `user` on `ui`.`id` = `user`.`id`
        where `ui`.`id` = #{id};
    </select>
</mapper>
