<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.UserRoleMapper">

    <insert id="insertOne">
        insert into `t_user_role`
            (`user_id`, `role_id`)
        values
            (#{userId}, #{roleId});
    </insert>

    <update id="updateAdminRoleById">
        update `t_user_role`
        set `ur`.`role_id`='79d689bcdda4422981b29b8e3cc8ec46'
        where `user_id` = #{id};
    </update>

    <update id="updateUserRoleById">
        update `t_user_role`
        set `ur`.`role_id`='cb5f11d5c13e47c38d211e0e3b8806fb'
        where `user_id` = #{id};
    </update>

    <select id="countAdmin" resultType="java.lang.Integer">
        select count(*)
        from `t_user_role`
        where `user_id` = '79d689bcdda4422981b29b8e3cc8ec46';
    </select>
</mapper>
