<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.poverty.mapper.VideoMapper">
    <sql id="select">
        select `v`.`id`, `v`.`title`, `v`.`create_time`,`info`.`username`,`c`.`be_liked`,`c`.`recommend`
        from `t_video` as `v`
                 inner join `t_count` as `c`
                            on `c`.`id` = `v`.`id`
                inner join `t_user_information` as `info`
                        on `info`.`id`=`v`.`author_id`
    </sql>

    <insert id="insertVideo" parameterType="com.poverty.entity.dto.VideoDTO">
        insert into t_video
            (id,title,video_url,author_id)
        values
            (#{id},#{title},#{videoUrl},#{authorId})
    </insert>

    <delete id="deleteVideo" parameterType="java.lang.String">
        delete  from t_video where id = #{id}
    </delete>

    <select id="selectVideoById" resultType="com.poverty.entity.vo.VideoVO">
        select `v`.`id`, `v`.`title`, `v`.`video_url`, `in`.`username`, `v`.`create_time`, `c`.`be_liked`,`c`.`recommend`
        from `t_video` as `v`
                 inner join `t_count` as `c`
                            on `c`.`id` = `v`.`id`
                 inner join `t_user_information` as `in`
                            on `in`.`id` = `v`.`author_id`
        where `v`.id=#{id}
    </select>

    <select id="selectIsExaminedVideoList" resultType="com.poverty.entity.vo.VideosVO">
        <include refid="select"/>
        WHERE is_examined=1 LIMIT #{start},#{end}
    </select>
    <select id="selectNoExaminedVideoList" resultType="com.poverty.entity.vo.VideosVO">
        <include refid="select"/>
        WHERE is_examined=0 LIMIT #{start},#{end}
    </select>
    <select id="selectNotExaminedVideoList" resultType="com.poverty.entity.vo.VideosVO">
        <include refid="select"/>
        WHERE is_examined=-1 LIMIT #{start},#{end}
    </select>
    <select id="selectVideoUrlById" resultType="java.lang.String">
        select video_url from t_video where id=#{id}
    </select>
    <select id="selectVideoByTitle" resultType="com.poverty.entity.vo.VideosVO">
        <include refid="select"/>
         where `v`.`title` like "%"#{title}"%"
        and `c`.`is_examined` = 1 LIMIT #{start},#{end};
    </select>
    <select id="countByTitle" resultType="java.lang.Integer">
        select count(*)
        from t_video as v
            inner join t_count as c
                on v.id = c.id
        where `v`.`title` like "%"#{title}"%"
        and `c`.`is_examined` = 1
    </select>
</mapper>
